.container{
    padding: 1.5rem;
    background-color: #fff;
    border-bottom-right-radius: 3rem;
}
.top-section{
    position: relative;
}
.inputs{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.input{
    display: flex;
    flex-direction: column;
}
input{
    width: 70px;
    padding: 5px;
}
input:focus, input.valid{
    border: 3px solid purple;
}
label{
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0.06rem;
}
button{
    width: 40px;
    height: 40px;
    position: absolute;
    border: none;
    background-color: #222;
    border-radius: 50%;
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -4.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow-down{
    color: white;
    font-size: 1rem;
}
.outputs{
    margin-top: 2rem;
}
.output{
    font-size: 1.5rem;
}
span{
    color: #020000dc;
}
.error{
    color: #f00;
    font-size: 10px;
    margin-top: 2px;
}